 * { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto Light', 'Arial Narrow', Arial, sans-serif}

    .topo {
        background: #acaced;
        padding: 1%;        
    }

    div.container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    img.logo {
        width: 5%;        
    }

    ul.nav {        
        padding: 1.5% 0;
        text-align: right;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2%;       
        width: 30%;     
    }

    ul.nav li {
        display: inline;
        text-decoration: none;
        font-size: 1.2em;
        margin: 3%;
    }

    a {
        text-decoration: none;
        color:#000;
        font-weight: bold;
    }

    a:hover {
        color: #8BFBF9;
    }

    .hero {
        width: 100%;
        height: 400px;
        object-fit: cover;                         
    }

    .hero_title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        color: #FFF;
        font-size: 3em;
        text-shadow: 2px 2px 10px rgba(0,0,0,.5);

    }
    .divHero { position: relative }

    .div {        
        width: 100%;
        height: 2px;
        background: yellow;        
        display: block;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 20px;
        grid-column-gap: 20px;
    }

    .grid-item {
        background: #eee;
        text-align: center;
        border-radius: 10px;
        padding: 3%
    }

    .icone {
        margin-bottom: 2%;
    }

    .search {
        display: inline-block;
        width: 50%;
        background: rgba(0,0,0,0.05);
        border: none;
        padding: 1em;
        border-radius: 50px;
        position: absolute;
        top: 50%;
        margin-left: 4%;
        transform: translateY(-50%);
    }